*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.overall{
    height:100%;
    width:100%;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    padding-top:50px; 
       
}

.ab{
    background-color: black;
    color:white;
    min-width:400px;
    padding:10px;
    text-align: center;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;

}

.nav2{
    display: flex;
    gap:40px;

}

.link{
    color:black;
    text-decoration: none;
}

.link:hover{
    color:black;
}

.link2{
    color:black;
    text-decoration: none;
}

.link2:hover{
    color:black;
}

h3{
    width:80%;
}

.img{
    height:400px;
    width:300px;
}

.detail{
    padding:20px;
}


.abo{
 display: flex;
}

.bt{
    border-radius: 20px;
    border:none;
    padding:10px 20px;
}


.bt1{
    background-color: black;
    color: white;
}

.bt2{
    background-color: white;
    color: black;
   
    border: 2px solid black;
}

.lk img{
    height:50px;
    width:80px;
   margin-left:20px;
}

.lk{
    margin-top:20px;
    border:2px solid black;
    border-radius: 40px;
    padding:15px;
    width:55%;
}

 @media only screen and (min-width:300px) and (max-width:600px){

    .nav2{
        display: grid;
    }

    .abo{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .ab{
        height:100px;
        width:300px;
    }

    h3{text-align: center;
        width:100%;
    }

    .lk h3{
            text-align: center;
    }

    .lk img{
        display: flex;
        margin:auto;
    }

    .lk{
        width:50%;
          /* display: grid; */
          flex-wrap: wrap;
          margin:auto;
          margin-top:20px;
         justify-content: center;
        align-items: center;
    } 


    .img{
        width:100%;
        display: flex;
        margin:auto;
    }

    /* .bt{
    
    } */
} 

@media only screen and (min-width:600px) and (max-width:900px){

    .nav2{
        display: grid;
    }

    .abo{
        display: grid;
    }

    .ab{
        height:100px;
        width:300px;
    }

    h3{
        width:100%;
    }

    .lk h3{
            text-align: center;
    }

    .lk img{
        display: flex;
        margin:auto;
    }

    .lk{
        width:50%;
          display: grid;
          margin:auto;
          margin-top:20px;
         /* justify-content: center;
        align-items: center; */
    } 


    .d1 img{
        /* width:100%; */
        display: flex;
        margin:auto;
    }
}