*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.div1{
    background-image: linear-gradient(to right,white 60%,black 40%);
    height:100vh;
    width:100%;
    animation-name: home;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
  
}

@keyframes home {
    0%{
        left:1700px;

    }
    100%{
        left:0px;
    }
}




nav{
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    padding-top:50px; 
       
}

.nav2{
    display: flex;
    gap:40px;
}

.link{
    color:black;
    text-decoration: none;
}

.link:hover{
    color:black;
}

.link2{
    color:white;
    text-decoration: none;
}

span{
    color:white;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top:60px;
}

.suma img{
    height:450px;
    width:350px;
    
}

h1{
    mix-blend-mode: difference;
    color:white;
}



.bt{
    border-radius: 20px;
    padding:10px;
    border:none;
   
}

.bt1{
    background-color: black;
    color:wheat;
    margin-left:100px;
}

.bt2{
    background-color: white;
    color:black;
    margin-left: 30px;
}

.ank{
    text-decoration: none;
    
}




@media only screen and (min-width:300px) and (max-width:600px){


     .div1{
    background-image: linear-gradient(to right,white 60%,black 40%);
    height:100%;
    width:100%;
  
    }

.nav2{
    display: grid;
    align-items: center;
    justify-self: center;
}



    .info{
        flex-direction: column;
    }

     .info2{
        text-align: center;
    }


}


@media only screen and (min-width:600px) and (max-width:900px){


    .div1{
    background-image: linear-gradient(to right,white 60%,black 40%);
    height:100%;
    width:100%;
  
    }

.nav2{
    display: grid;
}


    .info{
        flex-direction: column;
       
    }

    .info2{
        text-align: center;
    }

}

