*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.overall{
    background-color:black ;
    height:100vh;
    width:100%;
    animation-duration: 2s;
    animation-name: project;
    animation-fill-mode: forwards;
    position: relative;
    left:1000px;
}

@keyframes project {

    to{
    left:0px;
    }

}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    padding-top:50px; 
       
}

.ab{
    background-image:linear-gradient(to left,rgb(254, 249, 249),rgb(94, 90, 90),rgb(83, 79, 79),rgb(254, 244, 244));
    color:white;
    width:400px;
    padding:10px;
    text-align: center;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;

}

.nav2{
    display: flex;
    gap:40px;

}

.link{
    color:white;
    text-decoration: none;
}

.link:hover{
    color:white;
}

.link2{
    color:white;
    text-decoration: none;
    margin-right: 10px;
}

.link2:hover{
    color:white;
}

.three{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
   margin-top:30px;
}

.box{
    height:400px;
    width:400px;
    background-color: white;
     border-radius: 10px;
     padding:10px;
}

.first{
    height:300px;
    width:100%;
    background-color: rgb(234, 231, 231);
    padding:20px;
}

.bt1{
    border-radius: 20px;
    padding:10px;
    border:none;
    background-color: lightgrey;
    margin:10px;
}

.bt1:hover{
    background-color: gray;
    transition-duration: 1s;
    transform: scaleX(1.05);
}

.second{
        height:300px;
        width:100%;
        background-color: rgb(35, 33, 33);
        color:white;
        padding:20px;
}

.bt2{
    border:none;
    border-radius: 20px;
    background-color: rgb(72, 70, 70);
    margin:10px;
    padding:10px;
    color:white;
}

.bt2:hover{
    background-color: gray;
    transition-duration: 1s;
    transform: scaleX(1.05);
}

.third{
    background-color: gray;
    padding:20px;
    height:300px;
    width:100%;
}

.bt3{
    border:none;
    padding:10px;
    border-radius:20px;
    margin:10px;
    background-color: rgb(117, 108, 108);
    color:white;
}

.bt3:hover{
     background-color: rgb(98, 94, 94);
    transition-duration: 1s;
    transform: scaleX(1.05);
}

.pr2{
    color:black;
    text-decoration: none;
}

.pr2:hover{
    color:black;
}

.ex{
    display: flex;
    justify-content: space-between;
}

.ico{
    margin-top:20px;
    font-size: 20px;
    height:50px;
    width:50px;
    padding:13px;
    border-radius: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width:600px){

    .overall{
        height:100%;
    }

    .nav2{
        display: grid;
    }

    .three{
        display: grid;
    }

    /* .wor{
        font-size: 100px!important;
    } */

    .ab{
        height:100px;
        width:300px;
    }
}

@media only screen  and (max-width:900px){

    .overall{
        height:100%;
    }

    .nav2{
        display: grid;
    }

    .three{
        display: grid;
    }

    /* .wor{
        font-size: 100px!important;
    } */

    .ab{
        height:100px;
        width:300px;
    }
}